################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/packages
/.nuget
/bin
/Telerik.Sitefinity.Azure/bin
/Telerik.Sitefinity.Azure/obj
/.vs/Telerik.Sitefinity.Azure/v14/.suo
